<!DOCTYPE html>
<html>
<head lang="en">
    <title>Tree</title>
    <meta charset="UTF-8">
    <script src="{{ url_for('static', filename='platform/platform.js') }}"></script>
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,800,700,300,400,600' rel='stylesheet'-->
    <!--type='text/css'>-->
</head>
<body fullbleed vertical layout center center-justified>
<div id="landing-page">
    <blank-state></blank-state>
</div>
</body>
<script src="{{ url_for('static', filename='bluebird/js/browser/bluebird.js') }}"></script>
<script src="{{ url_for('static', filename='superagent/superagent.js') }}"></script>
<script src="{{ url_for('static', filename='d3/d3.js') }}"></script>
<script src="{{ url_for('static', filename='vue/dist/vue.js') }}"></script>
<script src="{{ url_for('custom_static', filename='/blank-state/blank-state.js') }}"></script>
<script src="{{ url_for('custom_static', filename='main.js') }}"></script>
</html>